<ion-item-sliding #sliding [disabled]="!isLowResolution()" >
  <ion-item >   
    <ion-label *ngIf="!isLowResolution()">{{grade.name}}</ion-label>
    <ion-label>{{grade.acronym}}</ion-label>
    <ion-button class="item-expanded" *ngIf="!isLowResolution()" slot="end" fill="clear" (click)="onEditClick(sliding)">
      <div class="vertical">
        <ion-icon name="create" color="success"></ion-icon>
        {{'button.edit' | translate | uppercase}}
      </div>
    </ion-button>
    <ion-button class="item-expanded" *ngIf="!isLowResolution()" slot="end" fill="clear" (click)="onDeleteClick(sliding)">
      <div class="vertical">
        <ion-icon name="trash" color="danger"></ion-icon>
        {{'button.delete' | translate | uppercase}}
      </div>
    </ion-button>
  </ion-item>

  <ion-item-options>
    <ion-item-option (click)="onEditClick(sliding)">
      <ion-icon slot="top" name="create" color="success"></ion-icon>
      {{'button.edit' | translate | uppercase}}
    </ion-item-option>
    <ion-item-option (click)="onDeleteClick(sliding)">
      <ion-icon slot="top" name="trash" color="danger"></ion-icon>
      {{'button.delete' | translate | uppercase}}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
