<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'home.student' | translate | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <app-student *ngFor="let student of (getStudent() | async)" [student]="student" (onEdit)="onEditStudent($event)" (onDelete)="onDeleteStudent($event)"></app-student>
</ion-list>


<!-- <ion-content class="ion-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button value="newStudent" [routerLink]="['/edit-student/']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid [fixed]="true">
    <ion-row *ngFor="let grade of _grades">
      <ion-item-divider>{{ grade.acronym}}</ion-item-divider>
      <ion-col sizeXs="10" sizeXl="3" *ngFor="let student of (getFilteredStudents(grade.acronym) | async)" >
        <ion-card *ngIf="student && student.grade == grade.acronym">
          <ion-content>
            <ion-fab vertical="top" horizontal="end" slot="fixed">
              <ion-fab-button color="light" size="small">
                <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-fab-button>
              <ion-fab-list>
                <ion-fab-button fill="clear" (click)="toPerfil(student)">
                  <ion-icon name="person-circle-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button fill="clear" routerLink='/edit-student/{{student.id}}'>
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button fill="clear" (click)="delete(student)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-content>
          <ion-card-header>
            <ion-avatar>
              <ion-img *ngIf="!student.picture" alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
              <ion-img *ngIf="student.picture" alt="Person picture" [src]="student.picture"></ion-img>
            </ion-avatar>
            <ion-card-subtitle><h5>{{ student.surname }}, {{ student.name }}</h5></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle *ngIf="student.level == 'first'">
                <h2>1º {{ student.grade }}</h2>
             </ion-card-subtitle>
             <ion-card-subtitle *ngIf="student.level == 'second'">
                <h2>2º {{ student.grade }}</h2>
          </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->