<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>{{ 'home.assign' | translate | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button value="newStudent" (click)="onNewAssign()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->

<!-- 
<ion-content class="ion-padding">
  <ion-row >

    <ion-col *ngFor="let task of _tasks">

      <ion-card>
        <ion-card-content>
          <ion-card-title>{{task.grade}} - {{task.module}}</ion-card-title>
          <ion-card-subtitle>{{task.type}}</ion-card-subtitle>
          <ion-card-subtitle>{{task.name}}</ion-card-subtitle>
        </ion-card-content>
        <ion-card-content>
          <app-date-time-select [selectedDateTime]="task.date" (onDatetimeChange)="onTaskDateTime($event, task)"></app-date-time-select>
        </ion-card-content>
      </ion-card>

    </ion-col>

  </ion-row>

</ion-content> -->
