<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'home.modules' | translate | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
  <ion-fab-button value="newGrade" (click)="onNewItem()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-list>
  <app-module *ngFor="let module of (getModules() | async)" [module]="module" (onEdit)="onEditModule($event)" (onDelete)="onDeleteModule($event)"></app-module>
</ion-list>

</ion-content>

