ion-footer {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #068a85;
  padding-top: 15px;
}

ion-icon {
  margin-right: 5%;
  font-size:xx-large;
}

h1, h2 {
  border-bottom: 1px solid white;
}

ion-content {
  color: #068a85;
}

