<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'detail.titleT' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{ 'detail.name' | translate }}
      </ion-label>
      <ion-input formControlName="name" type="text" placeholder="Introduce el nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'detail.type' | translate }}</ion-label>
      <ion-input formControlName="type" type="text" placeholder="Introduce el tipo de tarea"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" type="text" placeholder="Información">{{ 'detail.info' | translate }}</ion-label>
      <ion-input formControlName="info"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'detail.module' | translate }}
      </ion-label>
      <ion-input formControlName="module" type="text" placeholder="Selecciona el módulo"></ion-input>
    </ion-item>
    <!-- <app-grade-select formControlName="grade"></app-grade-select> -->
    <app-module-select formControlName="module"></app-module-select>
    <ion-label>{{ 'detail.date' | translate }}: </ion-label>
    <app-date-time-selectable formControlName="date" date="date"></app-date-time-selectable>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()">
          {{mode=="Edit"?"button.edit":"button.new" | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>