<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'detail.titleS' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{ 'button.close' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
  <ion-img (click)="changePic(fileLoader)" *ngIf="currentImage.value" [src]="currentImage$ | async"></ion-img>
  <ion-img (click)="changePic(fileLoader)" *ngIf="!currentImage.value"
    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating"> {{ 'detail.name' | translate }} </ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> {{ 'detail.surname' | translate }} </ion-label>
      <ion-input formControlName="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> {{ 'detail.email' | translate }} </ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'detail.grade' | translate }}
      </ion-label>
      <ion-input type="text" placeholder="Introduce curso" formControlName="grade"></ion-input>
    </ion-item>
    <app-grade-select formControlName="grade"></app-grade-select>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button [disabled]="!form.valid" (click)="onSubmit()">
            {{mode=="Edit"?("button.edit" | translate):("button.new" | translate)}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>